In [1]:
#http://blog.csdn.net/longerzone/article/details/37574367
#python常用的时间模块之datetime 

#使用apihelper 查看datetime 模块，我们可以看到简单的几项：
#date       ---  日期对象，结构为date(year, month, day)
#time       ---  时间值对象，结构为 time([hour[, minute[, second[, microsecond[, tzinfo]]]]])。时间对象所有的参数都是可选的。tzinfo 可以是None 或者是tzinfo子类的一个实例。 
#datetime   ---  日期和时间管理对象，结构为 datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])。 其中year, month 以及day 参数是必需的。而tzinfo 可以是None 或者是tzinfo子类的一个实例。
#timedelta  ---  两个datetime 值的差。用作datetime 对象之间的计算以及比较。
#tzinfo     ---  时区信息对象的抽象基类。
import datetime

In [2]:
#可以看到datetime 模块下面还有好几个具体的类，下面分别从这几个类来分析datetime 模块：
#1. date

#1.1 date 类简介以及简单使用

#date 是一个日期对象类，它有year,month和day三个属性。使用today()方法很容易创建一个表示当前日期的日期对象。当然，我们也可以手动指定年月日，从而直接使用datetime.date(year, month, day) 来创建一个日期对象，如：
da = datetime.date(1991, 1, 1)
da

datetime.date(1991, 1, 1)

In [3]:
da.year                    # 还可以通过指定具体项获取对应值

1991

In [4]:
#再来看看date 类的相关信息：
print datetime.date.resolution        # 日期对象的分辨率是一天
print datetime.date.min                # 日期对象最小值是1-1-1，下面会提到 toordinal 函数，它的返回值就是从这天计算的
print datetime.date.max                # 最大值

1 day, 0:00:00
0001-01-01
9999-12-31

In [5]:
#date 对象之间是可以计算的，算算你到这个世界多久了？
bron_day = datetime.date(1970, 1, 1)    # 指定生日
today = datetime.date.today()            # 获取今天的date 信息
print today-bron_day                    
today < bron_day

17467 days, 0:00:00

False

In [6]:
#1.2 date 类提供的方法

# (1)today  以当前时间获取一个日期对象
today = datetime.date.today()
today

datetime.date(2017, 10, 28)

In [7]:
#(2)ctime 将一个日期对象转化为ctime() 形式的字符串
datetime.date.ctime(today)

'Sat Oct 28 00:00:00 2017'

In [8]:
#(3) replace 对于日期对象，支持使用replace 方法直接修改具体项：
da = datetime.date(2008, 10, 1)
print da

print da.replace(2001, 1, 1)        # 不指定，可全部进行修改

print da.replace(year=2009, day=13)    # 符合python 的参数习惯，可以指定修改某一参数

2008-10-01
2001-01-01
2009-10-13

In [9]:
#(4)isoformat 以ISO 8601 格式("YYYY-MM-DD")返回一个日期对象：
datetime.date.isoformat(today)

'2017-10-28'

In [10]:
#(5) weekday 和 isoweekday
#weekday   -- 返回日期对象是周几。注意：返回值从0～6 ，也就是说Monday == 0 ... Sunday == 6。
#isoweekday --返回日期对象是周几，但是isoweekday 返回值与weekday的返回值不一样，其返回值范围为1～7：Monday == 1 ... Sunday == 7。
datetime.date.ctime(today)

'Sat Oct 28 00:00:00 2017'

In [11]:
today.weekday()     # 使用weekday 获取的返回值是2，因为它从0开始计数，周三对应2。

5

In [12]:
today.isoweekday()   # 使用isoweekday 获取的是3，符合日常使用习惯。

6

In [13]:
#(6)isocalendar 返回一个3元元组，值分别表示（年，第几周，周几）
today.isocalendar()

(2017, 43, 6)

In [14]:
#strftime 与time.strftime 类似，用于将时间对像进行格式化转化：
today.strftime('%Y-%m-%d %H:%M:%S')  # 默认使用 today = datetime.date.today() 获取今天日期对象，只获取了日期信息，而对应的时间默认使用了 00:00:00，后面我们会介绍使用 datetime 对象将日期对象和时间对像结合！

'2017-10-28 00:00:00'

In [15]:
#下面介绍的对象中都会涉及到 strftime 或 strptime, 其实用法都和 time 模块中介绍的一样

#(8)timetuple 以时间结构体 struct_time 形式返回时间信息，与time.localtime()兼容：
today.timetuple()

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=28, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=301, tm_isdst=-1)

In [16]:
#(9)fromtimestamp  此函数能够解析time.time()返回的浮点值，返回一个datetime.date 日期值，格式为"datetime.date(2014, 7, 8)", 所以我们可以通过datetime.date.fromtimestamp(time.time()).year 来获取年（月，日亦可！）
import time
time.time()

1509174999.785

In [17]:
datetime.date.fromtimestamp(1404876430)

datetime.date(2014, 7, 9)

In [18]:
datetime.date.fromtimestamp(1404876430.0)

datetime.date(2014, 7, 9)

In [19]:
datetime.date.fromtimestamp(1404876430.0).year

2014

In [20]:
#(10)toordinal 和fromordinal
#toordinal -- 返回日期对象位于公历的序数，也就是说返回值是“ 时间对象是从1年1月1日起的第几天”（返回值是一个整数）。
#fromordinal -- 上面的toordinal 会将一个日期对象经过计算，返回这个日期是1年1月1日开始的第几天。而fromordinal 功能刚好与toordinal相反，它可以计算出一个给定的整形数对应的日期对象。
today.toordinal()

736630

In [21]:
datetime.date.fromordinal(735423)

datetime.date(2014, 7, 9)

In [22]:
#2. time

#2.1 time 类简介以及简单使用

#datetime 的 time类用来表示时间信息，如上面介绍的date 类，我们可以使用time([hour[, minute[, second[, microsecond[, tzinfo]]]]]) 来初始化时间对象。
#我们再来看看time 类的相关信息：
print datetime.time.min            # 合法时间范围为00:00:00 ～ 23:59:59.999999

print datetime.time.max

print datetime.time.resolution    # 分辨率限制为微秒级

00:00:00
23:59:59.999999
0:00:00.000001

In [23]:
#我们也可以直接指定项获取其内容：
ti = datetime.time(11, 36, 0)
ti.hour

11

In [24]:
#2.2 time 类提供的方法

# (1) isoformat  以 ISO 8601 格式(HH:MM:SS[.mmmmmm][+HH:MM].)返回时间值：
ti.isoformat()

'11:36:00'

In [25]:
# (3)replace 与上面的日期类中的replace 方法类似，用于替换日期对象中的值：
ti = datetime.time(15, 10, 20)
ti.replace(hour = 12)

datetime.time(12, 10, 20)

In [26]:
#(3)strftime   如同上面的strftime 方法，以自定义的格式打印信息：
ti.strftime('%Y-%m-%d %H:%M:%S')


#其他还有三个方法： dst, tzname, utcoffset ,一般应该用不上，这里就不介绍了！

'1900-01-01 15:10:20'

In [27]:
#3. datetime

#3.1 datetime 类简介以及简单使用

#使用datetime 类可以存储由日期和时间分量构成的值。

#我们先看看预定给datetime 类的一些细节： 
print datetime.datetime.resolution        # 同time， datetime 的精度为一微秒

print datetime.datetime.min                # datetime 最小值为0001年1月1日的0时0分0秒，这也是公历的起始

print datetime.datetime.max                # 最大值

0:00:00.000001
0001-01-01 00:00:00
9999-12-31 23:59:59.999999

In [28]:
#同上面date/time， datetime 也可以直接手动定义：" datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])" 其中year, month 以及day 参数是必需的。
datetime.datetime(2008, 11, 20, 10, 50)

print datetime.datetime(2008, 11, 20, 10, 50).time()    # 可以直接使用time 和date 获取datetime 的时间和日期信息。

print datetime.datetime(2008, 11, 20, 10, 50).time().hour    # 想要获取时间/日期信息下面的时分秒/年月日就要在使用time/date 之后再使用需要的项来获取。

10:50:00
10

In [29]:
#对于datetime 的十几种方法，我们按照官方手册将其分为“类方法”和“实例方法”两个方面来讲解：
#3.2 类方法：

#类方法可以理解成通过 datetime.datetime.**() 调用的方法，
#如：now = datetime.datetime.now()

#(1) today, now 和 utcnow

#today      -- today 方法可以获取当前日期和时间(没有时区信息)，等于datetime.datetime.fromtimestamp(time.time())。
#now([tz])  -- 返回当前日期和时间，如果没有使用tz 作为参数，其结果与today方法一样；如果有时区信息，则返回的时区对应的时间(注：这里要求的tz 是tzinfo 类的一个实例而不是一个字符串)。
#utcnow     -- 方法与now 类似，只不过提供的是UTC 时间。（UTC，Coordinated Universal Time ，世界标准时间, now 得到的时间是根据UTC时间加上时区的）
datetime.datetime.now()

datetime.datetime(2017, 10, 28, 15, 16, 42, 851000)

In [30]:
datetime.datetime.today()        # today 和now 获取的时间一致

datetime.datetime(2017, 10, 28, 15, 16, 43, 52000)

In [31]:
datetime.datetime.utcnow()        # UTC 时间当前为12点，而我们北京时间处于东8区，加8个小时，刚好等于now/today显示的20点

datetime.datetime(2017, 10, 28, 7, 16, 43, 347000)

In [32]:
#(2) fromtimestamp 和 utcfromtimestamp

#fromtimestamp(timestamp[, tz])  -- fromtimestamp 根据POSIX 的时间戳（比如time.time()）返回一个时间信息。与now 比较接近，如果没有携带'tz'参数，它会将时间戳转化为本地时间和日期；如果有时区信息'tz'，返回的是该时区的时间信息。
#utcfromtimestamp(timestamp)     -- 将时间戳转化为UTC 时间
datetime.datetime.utcfromtimestamp(time.time())

datetime.datetime(2017, 10, 28, 7, 16, 43, 528000)

In [33]:
datetime.datetime.fromtimestamp(time.time())        # 本地时间，CST 比UTC时间多8小时

datetime.datetime(2017, 10, 28, 15, 16, 43, 778000)

In [34]:
datetime.datetime.today()                            # 上面介绍today 时说了，today()的返回值与fromtimestamp(time.time())一样

datetime.datetime(2017, 10, 28, 15, 16, 43, 958000)

In [35]:
# (3)fromordinal- 与下面要介绍的实例方法toordinal 相反，实例方法toordinal会将一个datetime 对象返回值为自公历1年1月1日起的第几天，而fromordinal 将一个天数（整形）计算出来对应的哪年哪月哪日。
now = datetime.datetime.now()
now

datetime.datetime(2017, 10, 28, 15, 16, 44, 138000)

In [36]:
datetime.datetime.toordinal(now)

736630

In [37]:
datetime.datetime.fromordinal(735422)        # 因为toordinal 计算的只是第几天，未涉及到具体时间，所以fromordinal 转化后的时间为0:0:0

datetime.datetime(2014, 7, 8, 0, 0)

In [38]:
#(4) combine

#conbine 方法可以将一个date 实例和一个time 实例结合创建一个datetime 实例。
today = datetime.date.today()
today.strftime('%Y-%m-%d %H:%M:%S')  # 使用 date.today() 只会接收今天的日期，不会接收时间信息，时间默认使用 00:00:00

'2017-10-28 00:00:00'

In [39]:
now = datetime.time(12, 30, 00)
now.strftime('%Y-%m-%d %H:%M:%S')   # 使用time 设置时间后，日期默认使用 1900-01-01

'1900-01-01 12:30:00'

In [40]:
print datetime.datetime.combine(today, now)    # 使用datetime 的combine 方法可以将上面的日期实例和时间实例集合为一个datetime 实例。

2017-10-28 12:30:00

In [41]:
# (5)strptime

#同前面介绍time 中的strptime一样，strptime 可以将一个格式化打印的字符串整合成为原来的datetime 对象。
now = datetime.datetime.now()
now

now.strftime('%Y-%m-%d %H:%M:%S')        # 下面将要介绍的一个实例方法，其实和time.strftime 类似
     # 此时是一个格式化打印的字符串\

'2017-10-28 15:16:45'

In [42]:
datetime.datetime.strptime(now.strftime('%Y-%m-%d %H:%M:%S'), '%Y-%m-%d %H:%M:%S')
     # 使用strptime 将字符串还原为 datetime 对象

datetime.datetime(2017, 10, 28, 15, 16, 45)

In [43]:
#3.3 实例方法：

#实例方法可以理解成datetime 实例/对象调用的方法，如：
now = datetime.datetime.now()
#now.***();        ### 其中*** 对应的就是实例方法 
#其实也可以使用datetime.datetime.***(now)来调用。举个例子：
now.date()    # date 就是下面要讲的实例方法之一

datetime.date(2017, 10, 28)

In [44]:
datetime.datetime.date(now)    # 实例方法也可以通过类似于类方法那么调用，只不过需要实例/对象作为参数

datetime.date(2017, 10, 28)

In [45]:
#既然放在实例方法一节，下面例子中都使用 now.***() 方式调用。
#(1)date   返回datetime.datetime对象的日期值
now = datetime.datetime.now()
now.date()

datetime.date(2017, 10, 28)

In [46]:
#(2) time 和 timetz
#time       --将一个datetime.datetime 对象的时间值返回
#timetz     -- 使用相同的时间和时区返回time 对象
now.time()

datetime.time(15, 16, 46, 775000)

In [47]:
now.timetz()

datetime.time(15, 16, 46, 775000)

In [48]:
#(3) replace   

#可以指定修改域对datetime 实例进行修改：
utcnow = datetime.datetime.utcnow()
utcnow

datetime.datetime(2017, 10, 28, 7, 16, 47, 501000)

In [49]:
utcnow.replace(hour = 1)

datetime.datetime(2017, 10, 28, 1, 16, 47, 501000)

In [50]:
#(4) timetuple 和 utctimetuple

#timetuple  --将一个datetime.datetime 对象解析成一个struc_time结构体返回。（与time.localtime()的返回值类型一样）
#utctimetuple  -- 与上面timetuple类似，返回UTC时间的解析结构体
now.timetuple()

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=28, tm_hour=15, tm_min=16, tm_sec=46, tm_wday=5, tm_yday=301, tm_isdst=-1)

In [51]:
now.utctimetuple()

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=28, tm_hour=15, tm_min=16, tm_sec=46, tm_wday=5, tm_yday=301, tm_isdst=0)

In [52]:
import time
time.localtime(time.time())            # 使用time.localtime 解析time()的浮点数得到的结果同timetuple 一样，都是struct_time 结构的时间

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=28, tm_hour=15, tm_min=16, tm_sec=48, tm_wday=5, tm_yday=301, tm_isdst=0)

In [53]:
#(5) toordinal     
#返回一个整数，代表datetime.datetime 对象是从第1年第1月第1天算起的第几天。
today.toordinal()

736630

In [54]:
#(6) weekday 和 isoweekday

#weekday    -- 返回datetime对象是周几，但是对应的值从0～6： Monday == 0 ... Sunday == 6
#isoweekday -- 返回datetime对象是周几，对应的值从1～7： Monday == 1 ... Sunday == 7
now.ctime()                # 以ctime() 字符串形式打印datetime 对象的时间日期信息。下面会提到

'Sat Oct 28 15:16:46 2017'

In [55]:
now.weekday()                 # 周三使用weekday 返回2

5

In [56]:
now.isoweekday()               # isoweekday 返回3

6

In [57]:
#(7) isocalendar

#返回一个三值的元组，格式为(年，第几周，周几)
now.isocalendar()

(2017, 43, 6)

In [58]:
#(8) isoformat

#以ISO 8601 格式（YYYY-MM-DDTHH:MM:SS[.mmmmmm][+HH:MM]）打印datetime.datetime对象。默认使用的间隔符是'T'.
datetime.datetime.isoformat(now)

'2017-10-28T15:16:46.775000'

In [59]:
#(9) ctime

#ctime      -- 将datetime.datetime 对象解析成time.ctime 的字符串

In [60]:
#(10) strftime

#strftime   -- 同其他类一样，datetime 可以通过strftime 进行格式化打印成你想要的格式。（默认是用的是ISO-8601 格式：YYYY-MM-DDTHH:MM:SS.mmmmmm）
now.strftime('%Y-%m-%d %H:%M:%S')

'2017-10-28 15:16:46'

In [61]:
#(11) 其他

#上面还未涉及到这几个函数astimezone, utcoffset, dst, tzname，都是与时区相关，一般涉及不到，此处不追逐。

In [62]:
#4. timedelta

#4.1 timedelta 类简介以及简单使用

#datetime 对象之间可以使用算术运算，或者结合一个datetime 和一个timedelta ，可以用来计算过去或将来的一些日期。两个日期相减可以生成一个timedelta， 还可以对某个日期与一个timedelta 计算来得出另一个日期。所以可以理解成两个datetime 的中间变量，可以用于计算和比较。
#来看看timedelta 的精度以及范围：
print datetime.timedelta.max

print datetime.timedelta.min

print datetime.timedelta.resolution        # 精度为1微秒

999999999 days, 23:59:59.999999
-999999999 days, 0:00:00
0:00:00.000001

In [63]:
#timedelta 的内部值按日、秒和毫秒存储：
td = datetime.timedelta(microseconds = 1); print "%s -- %r" %(td, td)

td = datetime.timedelta(milliseconds = 1); print "%s -- %r" %(td, td)

td = datetime.timedelta(seconds = 1); print "%s -- %r" %(td, td)

td = datetime.timedelta(minutes = 1); print "%s -- %r" %(td, td)

td = datetime.timedelta(hours = 1); print "%s -- %r" %(td, td)

td = datetime.timedelta(days = 1); print "%s -- %r" %(td, td)

td = datetime.timedelta(weeks = 1); print "%s -- %r" %(td, td)

0:00:00.000001 -- datetime.timedelta(0, 0, 1)
0:00:00.001000 -- datetime.timedelta(0, 0, 1000)
0:00:01 -- datetime.timedelta(0, 1)
0:01:00 -- datetime.timedelta(0, 60)
1:00:00 -- datetime.timedelta(0, 3600)
1 day, 0:00:00 -- datetime.timedelta(1)
7 days, 0:00:00 -- datetime.timedelta(7)

In [64]:
#4.2 timedelta 类提供的方法

#因为timedelta 只是一个用于计算的中间量，所以并没有提供很多方法，用apihelper 可以看到只提供一个方法total_seconds 用以返回一个timedelta 完整时间段的所有秒数:
td = datetime.timedelta(hours = 1); print td.total_seconds()

3600.0

In [65]:
#4.3 使用timedelta 计算

one_day = datetime.timedelta(days = 1);   # one_day 是一个定义为1天的timedelta 实例
one_day

datetime.timedelta(1)

In [66]:
today = datetime.date.today()                   # today 是date 实例
tomorrow = today + one_day              # 直接使用timedelta 实例与datetime 的date 实例进行计算
yestoday = today - one_day

In [67]:
today

datetime.date(2017, 10, 28)

In [68]:
tomorrow

datetime.date(2017, 10, 29)

In [69]:
yestoday

datetime.date(2017, 10, 27)

In [70]:
tomorrow - yestoday            # 两个date 实例也可以计算

datetime.timedelta(2)

In [71]:
print tomorrow - yestoday

2 days, 0:00:00

In [72]:
#4.4 使用timedelta 比较

today > yestoday               # date 实例可以直接比较

tomorrow == yestoday

False

In [73]:
#写到这，感觉该有的都有了，而且本文中有大量的例子，其实如果你不练习，还是难以记住这么多知识点，只要亲自写代码试验了，这些还是很好记很好理解的。比如说你可以做一个小闹钟提示什么的。

In [74]:
 #######

In [75]:
# http://blog.csdn.net/longerzone/article/details/37574053
#Python  time - 时钟时间模块。我们使用apihelper.info（可以参考系列前面文章《Python 学习笔记 9 -- Python强大的自省简析》）查看time 类，可以得知time 模块主要有以下方法：

#1. time

#核心函数，返回值是以浮点数计的自纪元开始以来的秒数，用于比较或者计算还是比较方便。

#2. ctime

#如果你想打印日期或者时间信息，使用 ctime 要比time 更加方便：
time.ctime()

'Sat Oct 28 15:16:54 2017'

In [76]:
 #我们可以看到 ctime 返回的是可读的可直接用于记录时间的字符串形式时间信息。

#我们还可以使用 ctime 来格式化打印一个由 time 计算的时间值：
print "Now time is   :",time.ctime() ;  later = time.time()+15 ;  print "15 secs later :", time.ctime(later)

Now time is   : Sat Oct 28 15:16:54 2017
15 secs later : Sat Oct 28 15:17:09 2017

In [77]:
#3. clock 

#处理器时钟，可以用来计算程序使用的实际时间，评估性能。
print 123456789*123456789/987654, time.clock()      

print 123456789*123456789/987654321, time.clock()

print (123456789*123456789+ 1234567890/987654321)*123456, time.clock()

print (123456789*123456789+ 1234567890/987654321)*123456, time.clock()     # 与上面同样复杂的运算，放在主频比较低的树莓派上运行，cpu 耗时要长很多

15432103500 2.33307436208e-06
15432098 0.00180206663727
1881664346183521084032 0.00241333212013
1881664346183521084032 0.00279968923449

In [78]:
#4. gmtime, localtime 和tzset

#先统一介绍一下这几个函数（后面结合实例会了解的更加清楚）：
#time.gmtime([secs])  --参数为一个以秒表示的时间值，gmtime 函数将参数转化并返回一个 struct_time 结构（见本文最后一节）的时间信息，且gmtime转化得到的时间是UTC 时间（世界统一时间）。如果没有使用一个秒数作为参数，将会默认使用并转化当前时间(即time.time()), 所以直接使用 time.gmtime() 会得到当前UTC 时间，效果同 time.gmtime(time.time())。
#time.localtime([secs])  -- 函数使用以及作用都与gmtime 类似，但是转化的结果是本地时间。也就是说它转化的结果是符合当前设置的时区信息的本地时间。同样，如果没有参数，默认转化的也是当前时间(即time.time())，所以直接使用 time.localtime() 会得到当前的本地时间，效果同 time.localtime(time.time())。
#time.tzset()  -- 设置时区从而改变了上面两个函数的时间转化的规则。

#而对于 时区的选择，我们可以查看参考Linux 的 "/usr/share/zoneinfo/" 目录：
#$ ls /usr/share/zoneinfo/
#Africa      Australia  Cuba     Etc      GMT0       Iceland      Japan      MST      Poland      right      UCT        zone.tab

#UTC 指的是Coordinated Universal Time－ 世界协调时间（又称世界标准时间、世界统一时间），是经过平均太阳时(以格林威治时间GMT为准)、地轴运动修正后的新时标以及以「秒」为单位的国际原子时所综合精算而成的时间，计算过程相当严谨精密。
#中国一般使用CST 时间，解释为“China Standard Time UT+8:00” ，即标准的UTC 时间加8！

#对于时区的设置以及localtime 显示的信息：
time.gmtime()       # 直接使用，默认转化当前时间time.time()并返回 struct_time 结构的 UTC 时间

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=28, tm_hour=7, tm_min=16, tm_sec=55, tm_wday=5, tm_yday=301, tm_isdst=0)

In [79]:
time.localtime()    # 返回当前的本地时间

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=28, tm_hour=15, tm_min=16, tm_sec=55, tm_wday=5, tm_yday=301, tm_isdst=0)

In [80]:
import os
os.environ['TZ'] =  'Brazil/East'    #设置巴西时间

In [81]:
#time.tzset()        # 设置时区
    #windows 下没有提供time.tzset()

In [82]:
time.gmtime()       # 我们可以看到设置时区后对UTC 时间并无干扰

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=28, tm_hour=7, tm_min=16, tm_sec=55, tm_wday=5, tm_yday=301, tm_isdst=0)

In [83]:
time.localtime()    # 本地时间已经显示的不同了，因为当前输出的是巴西时间

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=28, tm_hour=15, tm_min=16, tm_sec=56, tm_wday=5, tm_yday=301, tm_isdst=0)

In [84]:
os.environ['TZ'] =  'Asia/Shanghai'     #重新设置时区为上海（好像没有北京时间，安装Linux 时小伙伴应该都注意过这个问题。），回到北京时间

In [85]:
#time.tzset()

In [86]:
#time.tzname    # 中国的时区名为 CST，理解为“China Standard Time UT+8:00”
import pytz
pytz.all_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Asmera', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Timbuktu', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/ComodRivadavia', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Atka', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Buenos_Aires', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Catamarca', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Coral_Harbour', 'America/Cordoba', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Ensenada', 'America/Fort_Nelson', 'America/Fort_Wayne', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indianapolis', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Jujuy', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Knox_IN', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Louisville', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Mendoza', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montreal', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Acre', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Rosario', 'America/Santa_Isabel', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Shiprock', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Virgin', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/South_Pole', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Ashkhabad', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Calcutta', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Chongqing', 'Asia/Chungking', 'Asia/Colombo', 'Asia/Dacca', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Harbin', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Istanbul', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kashgar', 'Asia/Kathmandu', 'Asia/Katmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macao', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qyzylorda', 'Asia/Rangoon', 'Asia/Riyadh', 'Asia/Saigon', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Tel_Aviv', 'Asia/Thimbu', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ujung_Pandang', 'Asia/Ulaanbaatar', 'Asia/Ulan_Bator', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faeroe', 'Atlantic/Faroe', 'Atlantic/Jan_Mayen', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/ACT', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Canberra', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/LHI', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/NSW', 'Australia/North', 'Australia/Perth', 'Australia/Queensland', 'Australia/South', 'Australia/Sydney', 'Australia/Tasmania', 'Australia/Victoria', 'Australia/West', 'Australia/Yancowinna', 'Brazil/Acre', 'Brazil/DeNoronha', 'Brazil/East', 'Brazil/West', 'CET', 'CST6CDT', 'Canada/Atlantic', 'Canada/Central', 'Canada/East-Saskatchewan', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Canada/Saskatchewan', 'Canada/Yukon', 'Chile/Continental', 'Chile/EasterIsland', 'Cuba', 'EET', 'EST', 'EST5EDT', 'Egypt', 'Eire', 'Etc/GMT', 'Etc/GMT+0', 'Etc/GMT+1', 'Etc/GMT+10', 'Etc/GMT+11', 'Etc/GMT+12', 'Etc/GMT+2', 'Etc/GMT+3', 'Etc/GMT+4', 'Etc/GMT+5', 'Etc/GMT+6', 'Etc/GMT+7', 'Etc/GMT+8', 'Etc/GMT+9', 'Etc/GMT-0', 'Etc/GMT-1', 'Etc/GMT-10', 'Etc/GMT-11', 'Etc/GMT-12', 'Etc/GMT-13', 'Etc/GMT-14', 'Etc/GMT-2', 'Etc/GMT-3', 'Etc/GMT-4', 'Etc/GMT-5', 'Etc/GMT-6', 'Etc/GMT-7', 'Etc/GMT-8', 'Etc/GMT-9', 'Etc/GMT0', 'Etc/Greenwich', 'Etc/UCT', 'Etc/UTC', 'Etc/Universal', 'Etc/Zulu', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belfast', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Nicosia', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Tiraspol', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GB', 'GB-Eire', 'GMT', 'GMT+0', 'GMT-0', 'GMT0', 'Greenwich', 'HST', 'Hongkong', 'Iceland', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Iran', 'Israel', 'Jamaica', 'Japan', 'Kwajalein', 'Libya', 'MET', 'MST', 'MST7MDT', 'Mexico/BajaNorte', 'Mexico/BajaSur', 'Mexico/General', 'NZ', 'NZ-CHAT', 'Navajo', 'PRC', 'PST8PDT', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Johnston', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Ponape', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Samoa', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Truk', 'Pacific/Wake', 'Pacific/Wallis', 'Pacific/Yap', 'Poland', 'Portugal', 'ROC', 'ROK', 'Singapore', 'Turkey', 'UCT', 'US/Alaska', 'US/Aleutian', 'US/Arizona', 'US/Central', 'US/East-Indiana', 'US/Eastern', 'US/Hawaii', 'US/Indiana-Starke', 'US/Michigan', 'US/Mountain', 'US/Pacific', 'US/Pacific-New', 'US/Samoa', 'UTC', 'Universal', 'W-SU', 'WET', 'Zulu']

In [87]:
pytz.timezone('Asia/Shanghai')

In [88]:
time.gmtime()

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=28, tm_hour=7, tm_min=16, tm_sec=57, tm_wday=5, tm_yday=301, tm_isdst=0)

In [89]:
time.localtime()

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=28, tm_hour=15, tm_min=16, tm_sec=57, tm_wday=5, tm_yday=301, tm_isdst=0)

In [90]:
#5. strptime 和 strftime

#这两个函数用来解析和格式化输出时间。用作字符串格式的时间与 struct_time 结构的时间之间的转化。

#对于上面的localtime ，我们可以看到输出结果是一个 struct_time 结构体并以元组格式打印，我们可以使用" time.localtime().tm_year " 这样单独取其中一项。
#所以我们打印日期时可以这样：
print "%s-%s-%s" % (time.localtime().tm_year, time.localtime().tm_mon, time.localtime().tm_mday)

2017-10-28

In [91]:
#而ctime 输出的结果是字符串形式， 对于这种的我们可以使用这两个函数来解析/格式化:

#strftime 用于将元组转化为字符串, 它将指定的struct_time(默认为当前时间)，根据指定的格式化字符串输出。
time.localtime()    # 我们可以知道，localtime 打印的结果是元组形式的时间结构体

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=28, tm_hour=15, tm_min=16, tm_sec=58, tm_wday=5, tm_yday=301, tm_isdst=0)

In [92]:
time.strftime('%Y-%m-%d %H:%M:%S', time.localtime())    # 使用格式化打印，我们可以看到比上面使用元组项要方便很多

'2017-10-28 15:16:58'

In [93]:
#strptime 用于将字符串格式的格式化为元组：
time.ctime()

'Sat Oct 28 15:16:58 2017'

In [94]:
time.strptime(time.ctime())

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=28, tm_hour=15, tm_min=16, tm_sec=58, tm_wday=5, tm_yday=301, tm_isdst=-1)

In [95]:
time.strftime( '%Y-%m-%d %H:%M:%S', time.strptime(time.ctime()))        # 格式化之后我们再使用strftime 格式化打印成我们想要的格式就很方便了！！！
#time.strftime 的使用格式为：strftime(format[, tuple])
#里面有很多参数，可以让你能够更随意的输出自己想要的东西：
#%y 两位数的年份表示（00-99）
#%Y 四位数的年份表示（000-9999）
#%m 月份（01-12）
#%d 月内中的一天（0-31）
#%H 24小时制小时数（0-23）
#%I 12小时制小时数（01-12）
#%M 分钟数（00=59）
#%S 秒（00-59）

'2017-10-28 15:16:59'

In [96]:
#6. sleep

#休眠函数， 任何语言中基本上都会有休眠函数，而python 中对应的就是 time.sleep(n)。携带的参数指定挂起执行程序的秒数。
#为了更精确休眠的时间参数可以是一个浮点数。实际的挂起时间可能小于请求的数，因为捕获其他信号会终止休眠并执行信号对应的捕获程序。挂起时间也有可能比要求的更长，因为可能会调度系统中的其他活动。

In [97]:
#7. mktime

#这是 localtime 的逆函数。它的参数是 struct_time 结构或者完整的9 元素的元组（如果使用元组，需要dst 标识，如果不知可以使用-1）。为了兼容time(),它会返回一个浮点数。如果参数不能被表示为一个有效的时间，会引发OverflowError 或者 ValueError错误。
t = time.time()
t

1509175019.561

In [98]:
time.localtime(t)   # 上面已说过，使用time.localtime 可以将time() 生成的浮点数转化为 struct_time 结构

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=28, tm_hour=15, tm_min=16, tm_sec=59, tm_wday=5, tm_yday=301, tm_isdst=0)

In [99]:
time.mktime(time.localtime(t))      # 我们可以看到time.mktime 将 struct_time 结构再次还原为浮点数，其中因为 struct_time 结构中最小值为 tm_sec，也就是说最小时间精度为秒。所以使用 mktime 得到的浮点数中，秒以下的数（毫秒，微秒）被抹去。

1509175019.0

In [100]:
time.mktime( (2014, 7, 9, 8, 54, 29, 2, 190, -1) )    # 使用上面结构体中的数（dst使用-1表示未知）组成的9元素的元组，mktime 能够还原出同样的值

1404867269.0

In [101]:
#8. struct_time 结构

#最后介绍一下 time.struct_time 类：
#time 的gmtime(), localtime(), 以及 strptime()方法获取的时间值类型是一个struct_time 类。它是一个命名的元组对象：元素可以通过index获取，或者是通过属性名称：
time.localtime()

time.struct_time(tm_year=2017, tm_mon=10, tm_mday=28, tm_hour=15, tm_min=17, tm_sec=1, tm_wday=5, tm_yday=301, tm_isdst=0)

In [102]:
time.localtime()[1]

10

In [103]:
time.localtime().tm_mon

10

In [104]:
#目前这个结构中有以下元素：

#time.struct_time 结构
#tm_year	(for example, 1993)
#1	tm_mon	range [1, 12]
#2	tm_mday	range [1, 31]
#3	tm_hour	range [0, 23]
#4	tm_min	range [0, 59]
#5	tm_sec	range [0, 61]
#6	tm_wday	range [0, 6], Monday is 0
#7	tm_yday	range [1, 366]
#8	tm_isdst	0, 1 or -1; see below

In [105]:
#http://blog.csdn.net/ly_ysys629/article/details/73822716
#pandas时间序列基础以及时间、日期处理
# pandas处理成组日期

#pandas通常用于处理成组日期，不管这些日期是DataFrame的轴索引还是列，to_datetime方法可以解析多种不同的日期表示形式。
date = ['2017-6-26','2017-6-27']
date

['2017-6-26', '2017-6-27']

In [106]:
import pandas as pd
pd.to_datetime(date)

DatetimeIndex(['2017-06-26', '2017-06-27'], dtype='datetime64[ns]', freq=None)

In [107]:
#datetime 格式定义
#同上

#pandas最基本的时间序列类型就是以时间戳（时间点）（通常以python字符串或datetime对象表示）为索引的Series：

dates = ['2017-06-20','2017-06-21',\
         '2017-06-22','2017-06-23','2017-06-24','2017-06-25','2017-06-26','2017-06-27']

In [108]:
import numpy as np
ts = pd.Series(np.random.randn(8),index = pd.to_datetime(dates))

ts

2017-06-20    0.436801
2017-06-21   -0.020528
2017-06-22   -0.479386
2017-06-23    0.797774
2017-06-24    0.921192
2017-06-25   -0.228229
2017-06-26    0.262841
2017-06-27    0.549272
dtype: float64

In [109]:
ts.index

DatetimeIndex(['2017-06-20', '2017-06-21', '2017-06-22', '2017-06-23',
               '2017-06-24', '2017-06-25', '2017-06-26', '2017-06-27'],
              dtype='datetime64[ns]', freq=None)

In [110]:
#pandas不同索引的时间序列之间的算术运算会自动按日期对齐

ts[::2]#从前往后每隔两个取数据

2017-06-20    0.436801
2017-06-22   -0.479386
2017-06-24    0.921192
2017-06-26    0.262841
dtype: float64

In [111]:
ts[::-2]#从后往前逆序每隔两个取数据

2017-06-27    0.549272
2017-06-25   -0.228229
2017-06-23    0.797774
2017-06-21   -0.020528
dtype: float64

In [112]:

ts + ts[::2]#自动数据对齐

2017-06-20    0.873603
2017-06-21         NaN
2017-06-22   -0.958772
2017-06-23         NaN
2017-06-24    1.842383
2017-06-25         NaN
2017-06-26    0.525683
2017-06-27         NaN
dtype: float64

In [113]:

#索引为日期的Series和DataFrame数据的索引、选取以及子集构造

#方法： 
#1）.index[number_int]

#2)[一个可以被解析为日期的字符串]

#3）对于，较长的时间序列，只需传入‘年’或‘年月’可返回对应的数据切片

#4）通过时间范围进行切片索引
ts

2017-06-20    0.436801
2017-06-21   -0.020528
2017-06-22   -0.479386
2017-06-23    0.797774
2017-06-24    0.921192
2017-06-25   -0.228229
2017-06-26    0.262841
2017-06-27    0.549272
dtype: float64

In [114]:
ts[ts.index[2]]

-0.4793859397211484

In [115]:
ts['2017-06-21']#传入可以被解析成日期的字符串

-0.020528129970193768

In [116]:
ts['21/06/2017']

-0.020528129970193768

In [117]:
ts['20170621']

-0.020528129970193768

In [118]:
ts['2017-06']#传入年或年月

2017-06-20    0.436801
2017-06-21   -0.020528
2017-06-22   -0.479386
2017-06-23    0.797774
2017-06-24    0.921192
2017-06-25   -0.228229
2017-06-26    0.262841
2017-06-27    0.549272
dtype: float64

In [119]:

ts['2017-06-20':'2017-06-23']#时间范围进行切片

2017-06-20    0.436801
2017-06-21   -0.020528
2017-06-22   -0.479386
2017-06-23    0.797774
dtype: float64

In [120]:
#带有重复索引的时间序列
#1）.index.is_unique检查索引日期是否是唯一的

#2）对非唯一时间戳的数据进行聚合，通过groupby，并传入level = 0（索引的唯一一层）

dates = pd.DatetimeIndex(['2017/06/01','2017/06/02','2017/06/02','2017/06/02','2017/06/03'])
dates

DatetimeIndex(['2017-06-01', '2017-06-02', '2017-06-02', '2017-06-02',
               '2017-06-03'],
              dtype='datetime64[ns]', freq=None)

In [121]:
dup_ts = pd.Series(np.arange(5),index = dates)
dup_ts

2017-06-01    0
2017-06-02    1
2017-06-02    2
2017-06-02    3
2017-06-03    4
dtype: int32

In [122]:
dup_ts.index.is_unique

False

In [123]:
dup_ts['2017-06-02']

2017-06-02    1
2017-06-02    2
2017-06-02    3
dtype: int32

In [124]:
grouped = dup_ts.groupby(level=0).mean()
grouped

2017-06-01    0
2017-06-02    2
2017-06-03    4
dtype: int32

In [125]:
dup_df = pd.DataFrame(np.arange(10).reshape((5,2)),index = dates )
dup_df

            0  1
2017-06-01  0  1
2017-06-02  2  3
2017-06-02  4  5
2017-06-02  6  7
2017-06-03  8  9

In [126]:
grouped_df = dup_df.groupby(level=0).mean()##针对DataFrame
grouped_df

            0  1
2017-06-01  0  1
2017-06-02  4  5
2017-06-03  8  9

In [127]:
#OKOKOK

In [128]:
#Pandas中时间和日期处理

#1、生成一个时间段

import pandas as pd

import numpy as np
#1)生成一个时间区间段，间隔为小时

rng = pd.date_range('1/1/2011', periods=72, freq='H')
rng

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00',
               '2011-01-01 10:00:00', '2011-01-01 11:00:00',
               '2011-01-01 12:00:00', '2011-01-01 13:00:00',
               '2011-01-01 14:00:00', '2011-01-01 15:00:00',
               '2011-01-01 16:00:00', '2011-01-01 17:00:00',
               '2011-01-01 18:00:00', '2011-01-01 19:00:00',
               '2011-01-01 20:00:00', '2011-01-01 21:00:00',
               '2011-01-01 22:00:00', '2011-01-01 23:00:00',
               '2011-01-02 00:00:00', '2011-01-02 01:00:00',
               '2011-01-02 02:00:00', '2011-01-02 03:00:00',
               '2011-01-02 04:00:00', '2011-01-02 05:00:00',
               '2011-01-02 06:00:00', '2011-01-02 07:00:00',
               '2011-01-02 08:00:00', '2011-01-02 09:00:00',
               '2011-01-02 10:00:00', '2011-01-02 11:00:00',
               '2011-01-02 12:00:00', '2011-01-02 13:00:00',
               '2011-01-02 14:00:00', '2011-01-02 15:00:00',
               '2011-01-02 16:00:00', '2011-01-02 17:00:00',
               '2011-01-02 18:00:00', '2011-01-02 19:00:00',
               '2011-01-02 20:00:00', '2011-01-02 21:00:00',
               '2011-01-02 22:00:00', '2011-01-02 23:00:00',
               '2011-01-03 00:00:00', '2011-01-03 01:00:00',
               '2011-01-03 02:00:00', '2011-01-03 03:00:00',
               '2011-01-03 04:00:00', '2011-01-03 05:00:00',
               '2011-01-03 06:00:00', '2011-01-03 07:00:00',
               '2011-01-03 08:00:00', '2011-01-03 09:00:00',
               '2011-01-03 10:00:00', '2011-01-03 11:00:00',
               '2011-01-03 12:00:00', '2011-01-03 13:00:00',
               '2011-01-03 14:00:00', '2011-01-03 15:00:00',
               '2011-01-03 16:00:00', '2011-01-03 17:00:00',
               '2011-01-03 18:00:00', '2011-01-03 19:00:00',
               '2011-01-03 20:00:00', '2011-01-03 21:00:00',
               '2011-01-03 22:00:00', '2011-01-03 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [129]:
#2)生成一个Series，并制定索引为时间段
ts = pd.Series(np.random.randn(len(rng)), index=rng)

ts

2011-01-01 00:00:00    1.683006
2011-01-01 01:00:00   -2.350866
2011-01-01 02:00:00   -1.206166
2011-01-01 03:00:00    0.023905
2011-01-01 04:00:00    1.131553
2011-01-01 05:00:00    0.191603
2011-01-01 06:00:00   -0.856856
2011-01-01 07:00:00    0.420575
2011-01-01 08:00:00   -0.403894
2011-01-01 09:00:00   -1.201315
2011-01-01 10:00:00    0.471506
2011-01-01 11:00:00   -0.547937
2011-01-01 12:00:00    0.238918
2011-01-01 13:00:00   -1.382105
2011-01-01 14:00:00    0.479111
2011-01-01 15:00:00   -1.096255
2011-01-01 16:00:00    0.134788
2011-01-01 17:00:00   -0.155106
2011-01-01 18:00:00    0.561231
2011-01-01 19:00:00   -1.165022
2011-01-01 20:00:00    0.250452
2011-01-01 21:00:00   -0.087279
2011-01-01 22:00:00    0.969783
2011-01-01 23:00:00    0.363295
2011-01-02 00:00:00    1.115196
2011-01-02 01:00:00    1.313867
2011-01-02 02:00:00   -1.391342
2011-01-02 03:00:00   -0.128699
2011-01-02 04:00:00   -2.398593
2011-01-02 05:00:00   -0.925118
                         ...
2011-01-02 18:00:00   -0.537025
2011-01-02 19:00:00   -0.379195
2011-01-02 20:00:00   -0.164559
2011-01-02 21:00:00    0.255290
2011-01-02 22:00:00   -0.645003
2011-01-02 23:00:00   -0.973539
2011-01-03 00:00:00   -0.099102
2011-01-03 01:00:00   -1.383898
2011-01-03 02:00:00   -1.023164
2011-01-03 03:00:00   -0.562486
2011-01-03 04:00:00    0.183692
2011-01-03 05:00:00    0.353128
2011-01-03 06:00:00    0.119160
2011-01-03 07:00:00    0.216424
2011-01-03 08:00:00   -1.878820
2011-01-03 09:00:00    0.664990
2011-01-03 10:00:00    1.576736
2011-01-03 11:00:00   -1.576846
2011-01-03 12:00:00   -1.577185
2011-01-03 13:00:00   -0.887737
2011-01-03 14:00:00    1.897059
2011-01-03 15:00:00   -0.973781
2011-01-03 16:00:00   -1.355980
2011-01-03 17:00:00    1.055723
2011-01-03 18:00:00    0.468825
2011-01-03 19:00:00    0.871000
2011-01-03 20:00:00   -0.525306
2011-01-03 21:00:00   -1.153593
2011-01-03 22:00:00    1.895940
2011-01-03 23:00:00   -0.146329
Freq: H, dtype: float64

In [130]:
#3)改变时间间隔

converted = ts.asfreq('45Min', method='pad')

converted

2011-01-01 00:00:00    1.683006
2011-01-01 00:45:00    1.683006
2011-01-01 01:30:00   -2.350866
2011-01-01 02:15:00   -1.206166
2011-01-01 03:00:00    0.023905
2011-01-01 03:45:00    0.023905
2011-01-01 04:30:00    1.131553
2011-01-01 05:15:00    0.191603
2011-01-01 06:00:00   -0.856856
2011-01-01 06:45:00   -0.856856
2011-01-01 07:30:00    0.420575
2011-01-01 08:15:00   -0.403894
2011-01-01 09:00:00   -1.201315
2011-01-01 09:45:00   -1.201315
2011-01-01 10:30:00    0.471506
2011-01-01 11:15:00   -0.547937
2011-01-01 12:00:00    0.238918
2011-01-01 12:45:00    0.238918
2011-01-01 13:30:00   -1.382105
2011-01-01 14:15:00    0.479111
2011-01-01 15:00:00   -1.096255
2011-01-01 15:45:00   -1.096255
2011-01-01 16:30:00    0.134788
2011-01-01 17:15:00   -0.155106
2011-01-01 18:00:00    0.561231
2011-01-01 18:45:00    0.561231
2011-01-01 19:30:00   -1.165022
2011-01-01 20:15:00    0.250452
2011-01-01 21:00:00   -0.087279
2011-01-01 21:45:00   -0.087279
                         ...
2011-01-03 00:45:00   -0.099102
2011-01-03 01:30:00   -1.383898
2011-01-03 02:15:00   -1.023164
2011-01-03 03:00:00   -0.562486
2011-01-03 03:45:00   -0.562486
2011-01-03 04:30:00    0.183692
2011-01-03 05:15:00    0.353128
2011-01-03 06:00:00    0.119160
2011-01-03 06:45:00    0.119160
2011-01-03 07:30:00    0.216424
2011-01-03 08:15:00   -1.878820
2011-01-03 09:00:00    0.664990
2011-01-03 09:45:00    0.664990
2011-01-03 10:30:00    1.576736
2011-01-03 11:15:00   -1.576846
2011-01-03 12:00:00   -1.577185
2011-01-03 12:45:00   -1.577185
2011-01-03 13:30:00   -0.887737
2011-01-03 14:15:00    1.897059
2011-01-03 15:00:00   -0.973781
2011-01-03 15:45:00   -0.973781
2011-01-03 16:30:00   -1.355980
2011-01-03 17:15:00    1.055723
2011-01-03 18:00:00    0.468825
2011-01-03 18:45:00    0.468825
2011-01-03 19:30:00    0.871000
2011-01-03 20:15:00   -0.525306
2011-01-03 21:00:00   -1.153593
2011-01-03 21:45:00   -1.153593
2011-01-03 22:30:00    1.895940
Freq: 45T, dtype: float64

In [131]:
#2、转换为日期格式
#2.1 数字生成日期格式
pd.Timestamp("2017-6-19 9:13:45")

Timestamp('2017-06-19 09:13:45')

In [132]:
#2.2 字符生成日期格式
pd.Timestamp('2012-05-01')

Timestamp('2012-05-01 00:00:00')

In [133]:
#2.3 只有年月
pd.Period('2011-01')

Period('2011-01', 'M')

In [134]:
pd.Period('2012-05', freq='D')

Period('2012-05-01', 'D')

In [135]:
#2.4 转化为日期格式
pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None]))

0   2009-07-31
1   2010-01-10
2          NaT
dtype: datetime64[ns]

In [136]:
pd.to_datetime(['2005/11/23', '2010.12.31'])

DatetimeIndex(['2005-11-23', '2010-12-31'], dtype='datetime64[ns]', freq=None)

In [137]:
#3、生成一个时间段
#3.1 生成索引的方法

dates = ['2005-11-23','2005-11-24', '2005-11-25']
dates

['2005-11-23', '2005-11-24', '2005-11-25']

In [138]:
#Note the frequency information
index = pd.DatetimeIndex(dates)
index

DatetimeIndex(['2005-11-23', '2005-11-24', '2005-11-25'], dtype='datetime64[ns]', freq=None)

In [139]:
#Automatically converted to DatetimeIndex
index = pd.Index(dates)
index

Index([u'2005-11-23', u'2005-11-24', u'2005-11-25'], dtype='object')

In [140]:
#date_range日历，bdate_range工作日
index = pd.date_range('2000-1-1', periods=1000, freq='M')
index

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31',
               ...
               '2082-07-31', '2082-08-31', '2082-09-30', '2082-10-31',
               '2082-11-30', '2082-12-31', '2083-01-31', '2083-02-28',
               '2083-03-31', '2083-04-30'],
              dtype='datetime64[ns]', length=1000, freq='M')

In [141]:
index = pd.bdate_range('2012-1-1', periods=250)
index

DatetimeIndex(['2012-01-02', '2012-01-03', '2012-01-04', '2012-01-05',
               '2012-01-06', '2012-01-09', '2012-01-10', '2012-01-11',
               '2012-01-12', '2012-01-13',
               ...
               '2012-12-03', '2012-12-04', '2012-12-05', '2012-12-06',
               '2012-12-07', '2012-12-10', '2012-12-11', '2012-12-12',
               '2012-12-13', '2012-12-14'],
              dtype='datetime64[ns]', length=250, freq='B')

In [142]:
start ='2011-01-01'
end = '2012-01-01'
rng = pd.date_range(start, end)
rng

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2011-12-23', '2011-12-24', '2011-12-25', '2011-12-26',
               '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30',
               '2011-12-31', '2012-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [143]:
rng = pd.bdate_range(start, end)
rng

DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07', '2011-01-10', '2011-01-11', '2011-01-12',
               '2011-01-13', '2011-01-14',
               ...
               '2011-12-19', '2011-12-20', '2011-12-21', '2011-12-22',
               '2011-12-23', '2011-12-26', '2011-12-27', '2011-12-28',
               '2011-12-29', '2011-12-30'],
              dtype='datetime64[ns]', length=260, freq='B')

In [144]:
#3.2 每个月末，每隔一周
pd.date_range(start, end, freq='BM')

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29',
               '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31',
               '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30'],
              dtype='datetime64[ns]', freq='BM')

In [145]:
pd.date_range(start, end, freq='W')

DatetimeIndex(['2011-01-02', '2011-01-09', '2011-01-16', '2011-01-23',
               '2011-01-30', '2011-02-06', '2011-02-13', '2011-02-20',
               '2011-02-27', '2011-03-06', '2011-03-13', '2011-03-20',
               '2011-03-27', '2011-04-03', '2011-04-10', '2011-04-17',
               '2011-04-24', '2011-05-01', '2011-05-08', '2011-05-15',
               '2011-05-22', '2011-05-29', '2011-06-05', '2011-06-12',
               '2011-06-19', '2011-06-26', '2011-07-03', '2011-07-10',
               '2011-07-17', '2011-07-24', '2011-07-31', '2011-08-07',
               '2011-08-14', '2011-08-21', '2011-08-28', '2011-09-04',
               '2011-09-11', '2011-09-18', '2011-09-25', '2011-10-02',
               '2011-10-09', '2011-10-16', '2011-10-23', '2011-10-30',
               '2011-11-06', '2011-11-13', '2011-11-20', '2011-11-27',
               '2011-12-04', '2011-12-11', '2011-12-18', '2011-12-25',
               '2012-01-01'],
              dtype='datetime64[ns]', freq='W-SUN')

In [146]:
#3.3 从End往前数20个工作日，从start往后数20个工作日
pd.bdate_range(end=end, periods=20)

DatetimeIndex(['2011-12-05', '2011-12-06', '2011-12-07', '2011-12-08',
               '2011-12-09', '2011-12-12', '2011-12-13', '2011-12-14',
               '2011-12-15', '2011-12-16', '2011-12-19', '2011-12-20',
               '2011-12-21', '2011-12-22', '2011-12-23', '2011-12-26',
               '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30'],
              dtype='datetime64[ns]', freq='B')

In [147]:
pd.bdate_range(start=start, periods=20)

DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07', '2011-01-10', '2011-01-11', '2011-01-12',
               '2011-01-13', '2011-01-14', '2011-01-17', '2011-01-18',
               '2011-01-19', '2011-01-20', '2011-01-21', '2011-01-24',
               '2011-01-25', '2011-01-26', '2011-01-27', '2011-01-28'],
              dtype='datetime64[ns]', freq='B')

In [148]:
#4、根据部分索引选择，切片
rng = pd.date_range(start, end, freq='BM')
rng

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29',
               '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31',
               '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30'],
              dtype='datetime64[ns]', freq='BM')

In [149]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2011-01-31   -1.270872
2011-02-28    1.020153
2011-03-31   -1.428006
2011-04-29    0.757391
2011-05-31   -1.016762
2011-06-30    1.460621
2011-07-29    1.765794
2011-08-31    0.695912
2011-09-30   -0.333553
2011-10-31    0.561946
2011-11-30    1.141824
2011-12-30   -0.899257
Freq: BM, dtype: float64

In [150]:
ts.index

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29',
               '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31',
               '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30'],
              dtype='datetime64[ns]', freq='BM')

In [151]:
ts[:5].index

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29',
               '2011-05-31'],
              dtype='datetime64[ns]', freq='BM')

In [152]:
ts[::2].index

DatetimeIndex(['2011-01-31', '2011-03-31', '2011-05-31', '2011-07-29',
               '2011-09-30', '2011-11-30'],
              dtype='datetime64[ns]', freq='2BM')

In [153]:
ts['1/31/2011']

-1.2708724191546077

In [154]:
ts[pd.datetime(2011, 12, 25):]

2011-12-30   -0.899257
Freq: BM, dtype: float64

In [155]:
ts['10/31/2011':'12/31/2011']

2011-10-31    0.561946
2011-11-30    1.141824
2011-12-30   -0.899257
Freq: BM, dtype: float64

In [156]:
ts['2011']

2011-01-31   -1.270872
2011-02-28    1.020153
2011-03-31   -1.428006
2011-04-29    0.757391
2011-05-31   -1.016762
2011-06-30    1.460621
2011-07-29    1.765794
2011-08-31    0.695912
2011-09-30   -0.333553
2011-10-31    0.561946
2011-11-30    1.141824
2011-12-30   -0.899257
Freq: BM, dtype: float64

In [157]:
ts['2011-6']

2011-06-30    1.460621
Freq: BM, dtype: float64

In [158]:
#DataFrame中指定了时间索引，可以根据时间索引提取子集
dft = pd.DataFrame(np.random.randn(100000,1),columns=['A'],index=pd.date_range('20130101',periods=100000,freq='T'))
dft

                            A
2013-01-01 00:00:00  0.079441
2013-01-01 00:01:00  0.721777
2013-01-01 00:02:00 -1.689105
2013-01-01 00:03:00 -0.654599
2013-01-01 00:04:00  1.565731
2013-01-01 00:05:00  0.057849
2013-01-01 00:06:00 -1.251077
2013-01-01 00:07:00 -1.847490
2013-01-01 00:08:00 -0.482529
2013-01-01 00:09:00  0.887641
2013-01-01 00:10:00  0.842893
2013-01-01 00:11:00  1.486522
2013-01-01 00:12:00  0.534232
2013-01-01 00:13:00  0.136311
2013-01-01 00:14:00  0.880986
2013-01-01 00:15:00  0.573338
2013-01-01 00:16:00  0.393284
2013-01-01 00:17:00  0.306055
2013-01-01 00:18:00 -1.418666
2013-01-01 00:19:00 -1.167417
2013-01-01 00:20:00  1.512655
2013-01-01 00:21:00 -0.276900
2013-01-01 00:22:00  0.435589
2013-01-01 00:23:00 -1.116349
2013-01-01 00:24:00  1.318419
2013-01-01 00:25:00 -0.050920
2013-01-01 00:26:00  0.139904
2013-01-01 00:27:00 -0.409798
2013-01-01 00:28:00 -0.810062
2013-01-01 00:29:00 -1.397648
...                       ...
2013-03-11 10:10:00 -1.383900
2013-03-11 10:11:00 -1.024184
2013-03-11 10:12:00  0.982055
2013-03-11 10:13:00 -0.279727
2013-03-11 10:14:00 -0.689735
2013-03-11 10:15:00 -0.112314
2013-03-11 10:16:00 -0.954163
2013-03-11 10:17:00 -1.710287
2013-03-11 10:18:00  0.410929
2013-03-11 10:19:00 -2.350308
2013-03-11 10:20:00 -0.201576
2013-03-11 10:21:00  0.723358
2013-03-11 10:22:00 -0.615182
2013-03-11 10:23:00 -1.965437
2013-03-11 10:24:00 -0.063219
2013-03-11 10:25:00  1.273639
2013-03-11 10:26:00 -0.244623
2013-03-11 10:27:00 -0.541226
2013-03-11 10:28:00  0.175972
2013-03-11 10:29:00 -0.441980
2013-03-11 10:30:00 -0.779306
2013-03-11 10:31:00  1.037795
2013-03-11 10:32:00 -1.070747
2013-03-11 10:33:00 -0.955436
2013-03-11 10:34:00  1.504113
2013-03-11 10:35:00  1.437831
2013-03-11 10:36:00  2.012241
2013-03-11 10:37:00  0.710248
2013-03-11 10:38:00 -1.752257
2013-03-11 10:39:00 -0.423995

[100000 rows x 1 columns]

In [159]:
dft['2013']

                            A
2013-01-01 00:00:00  0.079441
2013-01-01 00:01:00  0.721777
2013-01-01 00:02:00 -1.689105
2013-01-01 00:03:00 -0.654599
2013-01-01 00:04:00  1.565731
2013-01-01 00:05:00  0.057849
2013-01-01 00:06:00 -1.251077
2013-01-01 00:07:00 -1.847490
2013-01-01 00:08:00 -0.482529
2013-01-01 00:09:00  0.887641
2013-01-01 00:10:00  0.842893
2013-01-01 00:11:00  1.486522
2013-01-01 00:12:00  0.534232
2013-01-01 00:13:00  0.136311
2013-01-01 00:14:00  0.880986
2013-01-01 00:15:00  0.573338
2013-01-01 00:16:00  0.393284
2013-01-01 00:17:00  0.306055
2013-01-01 00:18:00 -1.418666
2013-01-01 00:19:00 -1.167417
2013-01-01 00:20:00  1.512655
2013-01-01 00:21:00 -0.276900
2013-01-01 00:22:00  0.435589
2013-01-01 00:23:00 -1.116349
2013-01-01 00:24:00  1.318419
2013-01-01 00:25:00 -0.050920
2013-01-01 00:26:00  0.139904
2013-01-01 00:27:00 -0.409798
2013-01-01 00:28:00 -0.810062
2013-01-01 00:29:00 -1.397648
...                       ...
2013-03-11 10:10:00 -1.383900
2013-03-11 10:11:00 -1.024184
2013-03-11 10:12:00  0.982055
2013-03-11 10:13:00 -0.279727
2013-03-11 10:14:00 -0.689735
2013-03-11 10:15:00 -0.112314
2013-03-11 10:16:00 -0.954163
2013-03-11 10:17:00 -1.710287
2013-03-11 10:18:00  0.410929
2013-03-11 10:19:00 -2.350308
2013-03-11 10:20:00 -0.201576
2013-03-11 10:21:00  0.723358
2013-03-11 10:22:00 -0.615182
2013-03-11 10:23:00 -1.965437
2013-03-11 10:24:00 -0.063219
2013-03-11 10:25:00  1.273639
2013-03-11 10:26:00 -0.244623
2013-03-11 10:27:00 -0.541226
2013-03-11 10:28:00  0.175972
2013-03-11 10:29:00 -0.441980
2013-03-11 10:30:00 -0.779306
2013-03-11 10:31:00  1.037795
2013-03-11 10:32:00 -1.070747
2013-03-11 10:33:00 -0.955436
2013-03-11 10:34:00  1.504113
2013-03-11 10:35:00  1.437831
2013-03-11 10:36:00  2.012241
2013-03-11 10:37:00  0.710248
2013-03-11 10:38:00 -1.752257
2013-03-11 10:39:00 -0.423995

[100000 rows x 1 columns]

In [160]:
dft['2013-1':'2013-2']

                            A
2013-01-01 00:00:00  0.079441
2013-01-01 00:01:00  0.721777
2013-01-01 00:02:00 -1.689105
2013-01-01 00:03:00 -0.654599
2013-01-01 00:04:00  1.565731
2013-01-01 00:05:00  0.057849
2013-01-01 00:06:00 -1.251077
2013-01-01 00:07:00 -1.847490
2013-01-01 00:08:00 -0.482529
2013-01-01 00:09:00  0.887641
2013-01-01 00:10:00  0.842893
2013-01-01 00:11:00  1.486522
2013-01-01 00:12:00  0.534232
2013-01-01 00:13:00  0.136311
2013-01-01 00:14:00  0.880986
2013-01-01 00:15:00  0.573338
2013-01-01 00:16:00  0.393284
2013-01-01 00:17:00  0.306055
2013-01-01 00:18:00 -1.418666
2013-01-01 00:19:00 -1.167417
2013-01-01 00:20:00  1.512655
2013-01-01 00:21:00 -0.276900
2013-01-01 00:22:00  0.435589
2013-01-01 00:23:00 -1.116349
2013-01-01 00:24:00  1.318419
2013-01-01 00:25:00 -0.050920
2013-01-01 00:26:00  0.139904
2013-01-01 00:27:00 -0.409798
2013-01-01 00:28:00 -0.810062
2013-01-01 00:29:00 -1.397648
...                       ...
2013-02-28 23:30:00 -0.128644
2013-02-28 23:31:00 -0.724006
2013-02-28 23:32:00 -0.694269
2013-02-28 23:33:00  0.520213
2013-02-28 23:34:00  0.005793
2013-02-28 23:35:00 -1.365843
2013-02-28 23:36:00  0.049867
2013-02-28 23:37:00  0.375399
2013-02-28 23:38:00 -0.650476
2013-02-28 23:39:00 -0.578359
2013-02-28 23:40:00 -0.216857
2013-02-28 23:41:00 -1.338647
2013-02-28 23:42:00  1.742277
2013-02-28 23:43:00  0.004390
2013-02-28 23:44:00  0.725836
2013-02-28 23:45:00 -0.193839
2013-02-28 23:46:00 -0.088499
2013-02-28 23:47:00 -0.609277
2013-02-28 23:48:00  0.695415
2013-02-28 23:49:00 -0.107384
2013-02-28 23:50:00  0.603872
2013-02-28 23:51:00 -0.134093
2013-02-28 23:52:00  0.108129
2013-02-28 23:53:00 -0.160846
2013-02-28 23:54:00 -0.090811
2013-02-28 23:55:00 -0.389301
2013-02-28 23:56:00 -0.677055
2013-02-28 23:57:00 -1.164147
2013-02-28 23:58:00  0.564582
2013-02-28 23:59:00  0.391412

[84960 rows x 1 columns]

In [161]:
dft['2013-1':'2013-2-28']

                            A
2013-01-01 00:00:00  0.079441
2013-01-01 00:01:00  0.721777
2013-01-01 00:02:00 -1.689105
2013-01-01 00:03:00 -0.654599
2013-01-01 00:04:00  1.565731
2013-01-01 00:05:00  0.057849
2013-01-01 00:06:00 -1.251077
2013-01-01 00:07:00 -1.847490
2013-01-01 00:08:00 -0.482529
2013-01-01 00:09:00  0.887641
2013-01-01 00:10:00  0.842893
2013-01-01 00:11:00  1.486522
2013-01-01 00:12:00  0.534232
2013-01-01 00:13:00  0.136311
2013-01-01 00:14:00  0.880986
2013-01-01 00:15:00  0.573338
2013-01-01 00:16:00  0.393284
2013-01-01 00:17:00  0.306055
2013-01-01 00:18:00 -1.418666
2013-01-01 00:19:00 -1.167417
2013-01-01 00:20:00  1.512655
2013-01-01 00:21:00 -0.276900
2013-01-01 00:22:00  0.435589
2013-01-01 00:23:00 -1.116349
2013-01-01 00:24:00  1.318419
2013-01-01 00:25:00 -0.050920
2013-01-01 00:26:00  0.139904
2013-01-01 00:27:00 -0.409798
2013-01-01 00:28:00 -0.810062
2013-01-01 00:29:00 -1.397648
...                       ...
2013-02-28 23:30:00 -0.128644
2013-02-28 23:31:00 -0.724006
2013-02-28 23:32:00 -0.694269
2013-02-28 23:33:00  0.520213
2013-02-28 23:34:00  0.005793
2013-02-28 23:35:00 -1.365843
2013-02-28 23:36:00  0.049867
2013-02-28 23:37:00  0.375399
2013-02-28 23:38:00 -0.650476
2013-02-28 23:39:00 -0.578359
2013-02-28 23:40:00 -0.216857
2013-02-28 23:41:00 -1.338647
2013-02-28 23:42:00  1.742277
2013-02-28 23:43:00  0.004390
2013-02-28 23:44:00  0.725836
2013-02-28 23:45:00 -0.193839
2013-02-28 23:46:00 -0.088499
2013-02-28 23:47:00 -0.609277
2013-02-28 23:48:00  0.695415
2013-02-28 23:49:00 -0.107384
2013-02-28 23:50:00  0.603872
2013-02-28 23:51:00 -0.134093
2013-02-28 23:52:00  0.108129
2013-02-28 23:53:00 -0.160846
2013-02-28 23:54:00 -0.090811
2013-02-28 23:55:00 -0.389301
2013-02-28 23:56:00 -0.677055
2013-02-28 23:57:00 -1.164147
2013-02-28 23:58:00  0.564582
2013-02-28 23:59:00  0.391412

[84960 rows x 1 columns]

In [162]:
dft['2013-1':'2013-2-28 00:00:00']

                            A
2013-01-01 00:00:00  0.079441
2013-01-01 00:01:00  0.721777
2013-01-01 00:02:00 -1.689105
2013-01-01 00:03:00 -0.654599
2013-01-01 00:04:00  1.565731
2013-01-01 00:05:00  0.057849
2013-01-01 00:06:00 -1.251077
2013-01-01 00:07:00 -1.847490
2013-01-01 00:08:00 -0.482529
2013-01-01 00:09:00  0.887641
2013-01-01 00:10:00  0.842893
2013-01-01 00:11:00  1.486522
2013-01-01 00:12:00  0.534232
2013-01-01 00:13:00  0.136311
2013-01-01 00:14:00  0.880986
2013-01-01 00:15:00  0.573338
2013-01-01 00:16:00  0.393284
2013-01-01 00:17:00  0.306055
2013-01-01 00:18:00 -1.418666
2013-01-01 00:19:00 -1.167417
2013-01-01 00:20:00  1.512655
2013-01-01 00:21:00 -0.276900
2013-01-01 00:22:00  0.435589
2013-01-01 00:23:00 -1.116349
2013-01-01 00:24:00  1.318419
2013-01-01 00:25:00 -0.050920
2013-01-01 00:26:00  0.139904
2013-01-01 00:27:00 -0.409798
2013-01-01 00:28:00 -0.810062
2013-01-01 00:29:00 -1.397648
...                       ...
2013-02-27 23:31:00  2.412168
2013-02-27 23:32:00 -0.891404
2013-02-27 23:33:00  0.577728
2013-02-27 23:34:00  0.134287
2013-02-27 23:35:00  0.982891
2013-02-27 23:36:00 -0.431334
2013-02-27 23:37:00 -0.494643
2013-02-27 23:38:00  0.581927
2013-02-27 23:39:00  1.681518
2013-02-27 23:40:00 -1.864365
2013-02-27 23:41:00 -0.766711
2013-02-27 23:42:00 -0.690231
2013-02-27 23:43:00 -0.500341
2013-02-27 23:44:00 -0.490097
2013-02-27 23:45:00  0.722404
2013-02-27 23:46:00  1.590524
2013-02-27 23:47:00  0.419746
2013-02-27 23:48:00 -1.315715
2013-02-27 23:49:00  0.258727
2013-02-27 23:50:00  0.411348
2013-02-27 23:51:00  1.052283
2013-02-27 23:52:00 -0.760497
2013-02-27 23:53:00  1.650354
2013-02-27 23:54:00 -1.593207
2013-02-27 23:55:00 -1.942639
2013-02-27 23:56:00  1.150584
2013-02-27 23:57:00 -1.892486
2013-02-27 23:58:00 -0.384465
2013-02-27 23:59:00  0.114008
2013-02-28 00:00:00 -1.762852

[83521 rows x 1 columns]

In [163]:
dft['2013-1-15':'2013-1-15 12:30:00']

                            A
2013-01-15 00:00:00  2.401853
2013-01-15 00:01:00  1.258319
2013-01-15 00:02:00 -1.609550
2013-01-15 00:03:00 -0.796193
2013-01-15 00:04:00  0.165148
2013-01-15 00:05:00 -0.164467
2013-01-15 00:06:00  0.291226
2013-01-15 00:07:00  1.254545
2013-01-15 00:08:00 -0.870891
2013-01-15 00:09:00 -1.015590
2013-01-15 00:10:00  0.540074
2013-01-15 00:11:00  1.709872
2013-01-15 00:12:00 -2.096910
2013-01-15 00:13:00 -0.448315
2013-01-15 00:14:00  0.215880
2013-01-15 00:15:00 -0.895106
2013-01-15 00:16:00  0.624003
2013-01-15 00:17:00 -0.714755
2013-01-15 00:18:00  1.192028
2013-01-15 00:19:00  0.562731
2013-01-15 00:20:00  0.062772
2013-01-15 00:21:00  0.740178
2013-01-15 00:22:00 -0.809754
2013-01-15 00:23:00  0.563011
2013-01-15 00:24:00  1.441658
2013-01-15 00:25:00  1.422975
2013-01-15 00:26:00  0.536919
2013-01-15 00:27:00  0.356849
2013-01-15 00:28:00  0.610214
2013-01-15 00:29:00 -0.706222
...                       ...
2013-01-15 12:01:00  0.068028
2013-01-15 12:02:00  1.911774
2013-01-15 12:03:00 -0.248778
2013-01-15 12:04:00  0.051260
2013-01-15 12:05:00 -0.542874
2013-01-15 12:06:00  0.136434
2013-01-15 12:07:00  0.422568
2013-01-15 12:08:00  0.592020
2013-01-15 12:09:00  1.220691
2013-01-15 12:10:00  3.598068
2013-01-15 12:11:00  0.849319
2013-01-15 12:12:00 -0.167612
2013-01-15 12:13:00 -0.252375
2013-01-15 12:14:00 -0.355260
2013-01-15 12:15:00  0.096315
2013-01-15 12:16:00 -0.941936
2013-01-15 12:17:00 -0.364838
2013-01-15 12:18:00  0.089245
2013-01-15 12:19:00  0.975129
2013-01-15 12:20:00 -0.109775
2013-01-15 12:21:00  0.445010
2013-01-15 12:22:00  0.718130
2013-01-15 12:23:00 -0.315317
2013-01-15 12:24:00  0.596127
2013-01-15 12:25:00  0.298900
2013-01-15 12:26:00  0.642918
2013-01-15 12:27:00 -0.363162
2013-01-15 12:28:00  0.039654
2013-01-15 12:29:00 -2.213174
2013-01-15 12:30:00 -0.519678

[751 rows x 1 columns]

In [164]:
dft.loc['2013-1-15 12:30:00']

A   -0.519678
Name: 2013-01-15 12:30:00, dtype: float64

In [165]:
#5、常用时间
#类别 解释
#year 年 month 月 day 日  hour 时 minute 分钟 second 秒 microsecond 微秒 nanosecond 纳秒
#date 返回日期  time 返回时间  dayofyear 年序日  weekofyear 年序周  week 周  dayofweek 周中的第几天，Monday=0, Sunday=6
#weekday 周中的第几天，Monday=0, Sunday=6  weekday_name 周中的星期几，ex: Friday  quarter 季度
#days_in_month 一个月中有多少天  is_month_start 是否月初第一天  is_month_end 是否月末最后一天
#is_quarter_start 是否季度的最开始  is_quarter_end 是否季度的最后一个  is_year_start 是否年初第一天  is_year_end 是否年末第一天

#6、某一时间点，往前往后加一段时间
#类别 解释
#BDay 工作日  CDay 自定义日期   Week 周  WeekOfMonth 月中的第几周  LastWeekOfMonth 月中的最后一周  MonthEnd 日历上月末
#MonthBegin 日历上月初  BMonthEnd 工作月初  BMonthBegin 月开始营业  CBMonthEnd 自定义月末  CBMonthBegin 自定义月初
#QuarterEnd 日历季末  QuarterBegin 日历季初  BQuarterEnd 工作季末  BQuarterBegin 工作季初  FY5253Quarter retail (aka 52-53 week) quarter
#YearEnd 日历年末  YearBegin 日历年初  BYearEnd 工作年末  BYearBegin 工作年初  FY5253 retail (aka 52-53 week) year
#BusinessHour 工作小时  CustomBusinessHour 自定义小时  Hour 小时  Minute 分钟  Second 秒

In [166]:
d = pd.datetime(2008, 8, 18, 9, 0)

In [167]:
from pandas.tseries.offsets import *
d + DateOffset(months=4, days=5)

Timestamp('2008-12-23 09:00:00')

In [168]:
d - 5 * BDay()

Timestamp('2008-08-11 09:00:00')

In [169]:
#月末
d + BMonthEnd()

Timestamp('2008-08-29 09:00:00')

In [170]:
d

datetime.datetime(2008, 8, 18, 9, 0)

In [171]:
#往前数月末
offset = BMonthEnd()
offset

In [172]:
offset.rollforward(d)
offset

In [173]:
#往后数月末
offset.rollback(d)
offset

In [174]:
#时间方面的
day = Day()
day

In [175]:
day.apply(pd.Timestamp('2014-01-01 09:00'))

Timestamp('2014-01-02 09:00:00')

In [176]:
day = Day(normalize=True)
day.apply(pd.Timestamp('2014-01-01 09:00'))

Timestamp('2014-01-02 00:00:00')

In [177]:
hour = Hour()

In [178]:
hour.apply(pd.Timestamp('2014-01-01 22:00'))

Timestamp('2014-01-01 23:00:00')

In [179]:
hour = Hour(normalize=True)

In [180]:
hour.apply(pd.Timestamp('2014-01-01 22:00'))

Timestamp('2014-01-01 00:00:00')

In [181]:
hour.apply(pd.Timestamp('2014-01-01 23:00'))

Timestamp('2014-01-02 00:00:00')

In [182]:
#周相关的
d

datetime.datetime(2008, 8, 18, 9, 0)

In [183]:
d + Week()

Timestamp('2008-08-25 09:00:00')

In [184]:
d + Week(weekday=4)

Timestamp('2008-08-22 09:00:00')

In [185]:
(d + Week(weekday=4)).weekday()

4

In [186]:
d - Week()

Timestamp('2008-08-11 09:00:00')

In [187]:
#7、时间序列相关的时间处理

ts = ts[:5]

ts.shift(1)

2011-01-31         NaN
2011-02-28   -1.270872
2011-03-31    1.020153
2011-04-29   -1.428006
2011-05-31    0.757391
Freq: BM, dtype: float64

In [188]:
from pandas import datetools
ts.shift(5, freq=datetools.bday)

2011-02-07   -1.270872
2011-03-07    1.020153
2011-04-07   -1.428006
2011-05-06    0.757391
2011-06-07   -1.016762
dtype: float64

In [189]:
ts.shift(5, freq='BM')

2011-06-30   -1.270872
2011-07-29    1.020153
2011-08-31   -1.428006
2011-09-30    0.757391
2011-10-31   -1.016762
Freq: BM, dtype: float64

In [190]:
ts.tshift(5, freq='D')

2011-02-05   -1.270872
2011-03-05    1.020153
2011-04-05   -1.428006
2011-05-04    0.757391
2011-06-05   -1.016762
dtype: float64

In [191]:
#END