In [25]:
import pandas as pd
import datetime

In [18]:
UserInf = pd.read_csv('user_id2.csv',index_col=0)

In [19]:
UserInf

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,time_stamp3
26051080,2,239288,602,420,4953.0,626,0,3
26051081,2,751744,602,420,4953.0,626,0,3
26051082,2,431502,737,1974,8321.0,817,0,3
26051083,2,864941,737,1974,8321.0,817,0,3
26051084,2,85520,737,1974,8321.0,817,0,3
...,...,...,...,...,...,...,...,...
26051138,2,77292,1142,4924,856.0,1111,2,4
26051139,2,274076,420,1784,7936.0,1111,2,4
26051140,2,192767,276,2194,5103.0,1020,0,4
26051141,2,215563,276,1816,2044.0,1020,0,4
26051142,2,293453,602,420,4953.0,626,0,3

In [20]:
UserInf.dtypes

user_id          int64
item_id          int64
cat_id           int64
seller_id        int64
brand_id       float64
time_stamp       int64
action_type      int64
time_stamp3      int64
dtype: object

In [34]:
UserInf['time']=UserInf['time_stamp'].apply(lambda x: '2018-'+str(x)[:-2]+'-'+str(x)[-2:] if len(str(x))==4 
                            else '2018-0'+str(x)[:-2]+'-'+str(x)[-2:] if len(str(x))==3 
                            else str(x)).apply(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d'))

In [40]:
UserInf['time'].apply(lambda x: x.strftime('%Y-%m-%d'))

26051080    2018-06-26
26051081    2018-06-26
26051082    2018-08-17
26051083    2018-08-17
26051084    2018-08-17
               ...
26051138    2018-11-11
26051139    2018-11-11
26051140    2018-10-20
26051141    2018-10-20
26051142    2018-06-26
Name: time, Length: 63, dtype: object

In [37]:
UserInf['time_stamp'].apply(lambda x: '2018-'+str(x)[:-2]+'-'+str(x)[-2:] if len(str(x))==4 
                            else '2018-0'+str(x)[:-2]+'-'+str(x)[-2:] if len(str(x))==3 
                            else str(x))

26051080    2018-06-26
26051081    2018-06-26
26051082    2018-08-17
26051083    2018-08-17
26051084    2018-08-17
               ...
26051138    2018-11-11
26051139    2018-11-11
26051140    2018-10-20
26051141    2018-10-20
26051142    2018-06-26
Name: time_stamp, Length: 63, dtype: object

In [39]:
UserInf.apply(lambda x: x['cat_id']+x['seller_id'],axis=1)

26051080    1022
26051081    1022
26051082    2711
26051083    2711
26051084    2711
            ...
26051138    6066
26051139    2204
26051140    2470
26051141    2092
26051142    1022
Length: 63, dtype: int64

In [30]:
UserInf.dtypes

user_id                 int64
item_id                 int64
cat_id                  int64
seller_id               int64
brand_id              float64
time_stamp              int64
action_type             int64
time_stamp3             int64
time           datetime64[ns]
dtype: object

In [45]:
('2018-11-11'-UserInf.time.max()).days

168